
body {
    margin: 0 auto;
    width: 950px;
}

#hd-2 {
    height: 32px;
    margin-top: 8px;
    position: relative;
}

#location-search {
    float: right;
    padding: 0;
}

#location-search > input.text {
    height: 26px;
    line-height: 26px;
    margin: 0;
    padding: 4px 0 0 0;
}

#location-search > button {
    background-color: #f5f5f5;
    border: 1px solid #bbb;
    border-left: 2px solid #bbb;
    border-bottom: 2px solid #bbb;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    margin: 0 0 0 10px;
    width: 80px;
}

#location-results {
    background: transparent url(/img/white.png);
    display: none;
    left: 80px;
    /*padding: 6px 4px 6px 4px;*/
    padding-top: 6px;
    position: absolute;
    top: 32px;
    width: 300px;
    z-index: 10;
}

#location-results ul {
    list-style-type: none;
}

#main-img {
    background: white url(/img/palacio_real.jpg);
    height:332px;
    position: relative;
}

#map {
    height: 400px;
    margin-top: 12px;
    position: relative;
    width: 950px;
}

#map > div.title {
    left: 0;
    position: absolute;
    top: 0;
    z-index: 9999;
}

#main-img > div.title, #map > div.title {
    background: transparent url(/img/black.png);
    height: 40px;
    width: 100%;
}

#main-img > div.attrib {
    background: transparent url(/img/black.png);
    bottom: 0px;
    height: 24px;
    line-height: 24px;
    padding: 0 2px 0 2px;
    position: absolute;
    right: 0px;
}

div.attrib > img {
    float: left;
    padding-top: 3px;
}

div.attrib > a {
    color: white;
    float: left;
    padding-left: 2px;
    text-decoration: none;
}

div.attrib > a:hover {
    text-decoration: underline;
}

#main-img h2, #map h2 {
    color: white;
    padding-left: 1em;
}

input.text, textarea {
    background: white url(http://static2.dokiru.com/inputbg.png) repeat-x scroll top left;
    font-size: 1.4em;
    letter-spacing: 0.02em;
}

#ft ul {
    list-style-type: none;
    margin: 0;
}

#ft ul > li  {
    float: right;
    padding-left: 8px;
}
