## -*- coding: utf-8 -*-
<%inherit file="/index.html" />
<%def name="title()">About my wahi</%def>
<div id="about-img" class="span-24 last">
  <div class="title">
    <h2>About <em>my wahi</em></h2>
  </div>
  <div class="attrib">
    <img alt="Creative Commons" src="/img/cc.png" />
    <a href="http://www.flickr.com/photos/andyrs/327708441/" rel="nofollow">
      Andy Simonds
    </a>
  </div>
</div>
<p>&quot;Wahi&quot; is the Hawaiian (and Maori!) word for &quot;place.&quot;
This site, <em>my wahi</em>, lets you bookmark your favorite places and
discover those other people have already bookmarked. While <em>my wahi</em>
requires no registration, you can connect your
<a href="http://bit.ly/" rel="nofollow">bit.ly</a> account, if you have one,
to keep track of places you personally add.</p>
<p>Data generated through <em>my wahi</em> are
hereby released in the public domain, so please keep that in mind as you use
the site. Enjoy.</p>
