## -*- coding: utf-8 -*-
<%inherit file="/index.html" />
<%def name="html()">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xml:lang="en">
</%def>
<%def name="meta()">
<meta name="ICBM" content="${coords[1]}, ${coords[0]}" />
<meta name="geo.position" content="${coords[1]};${coords[0]}" />
</%def>
<%def name="stylesheets()">
<link rel="stylesheet" type="text/css" href="/css/openlayers/style.css" media="screen, projection" />
</%def>
<div id="save-bookmark" class="hidden span-8">
  <h2>Bookmark this place</h2>
  <form action="/place" method="post">
    <label for="name">Name</label>
    <input class="text" type="text" name="name" id="name" />
  <br/>
    <label for="address">Address</label>
    <input class="text" type="text" name="address" id="address" />
  <br/>
    <label for="description">Description <span style="font-size:0.8em;font-weight:normal;">(optional)</span></label>
    <textarea class="text" name="description" id="description"></textarea>
  <br/>
  <label id="toggle-bitly">Bookmark with bit.ly <span style="font-size:0.8em;font-weight:normal;">(optional)</span></label>
  <div id="bitly-settings" class="hidden">
    <label for="bitly_login">Login</label>
    <input class="text" type="text" name="bitly_login" id="bitly_login" />
  <br/>
    <label for="bitly_apikey">API key</label>
    <input class="text" type="password" name="bitly_apikey" id="bitly_apikey" />
  </div>
  <div style="clear:both;"></div>
    <button style="margin-right:4px;" type="submit">Bookmark</button>
    <input type="hidden" name="longitude" />
    <input type="hidden" name="latitude" />
  </form>
  <button id="cancel-bookmark">Cancel</button>
</div>
<div id="map" class="span-24 last"></div>
<div id="tmp-coords">
  Coordinates:
  (<span id="coords-long" rel="geo:long">${coords[0]}</span>, 
  <span id="coords-lat" rel="geo:lat">${coords[1]}</span>)
</div>
<%def name="javascripts()">
<script type="text/javascript">
//<![CDATA[
google.load("maps", "2.x");
//]]>
</script>
<script type="text/javascript" src="/js/openlayers.js"></script>
<script type="text/javascript">
//<![CDATA[
var bound = false;
function bindPromptHandlers() {
    $("button#prompt-yes").click(function() {
        var tmp;

        $.hideDialog();
        $("#map").removeClass("span-24").addClass("span-16");
        $("#name").val("");
        $("#address").val($(".title > h2").text());
        $("#description").val("");
        if ((tmp = $.cookie("bitly_login")) != null)
            $("#bitly_login").val(tmp);
        if ((tmp = $.cookie("bitly_apikey")) != null)
            $("#bitly_apikey").val(tmp);
        $("#save-bookmark").css("display", "block");
        $("#name").focus();
        $.centerMapOnPointer();
    });
    $("button#prompt-no").click(function() {
        $.hideDialog();
    });
}
function resetFullMap() {
    $("#save-bookmark").css("display", "none");
    $("#map").removeClass("span-16").addClass("span-24");
    $.centerMapOnPointer();
    return false;
}
function fixMapControls() {
    $("div[id=OpenLayers.Control.PanZoom_7_panup]").css("display","none");
    $("div[id=OpenLayers.Control.PanZoom_7_panleft]").css("display","none");
    $("div[id=OpenLayers.Control.PanZoom_7_panright]").css("display","none");
    $("div[id=OpenLayers.Control.PanZoom_7_pandown]").css("display","none");
    $("div[id=OpenLayers.Control.PanZoom_7_zoomworld]").css("display","none");
    $("img[id=OpenLayers.Control.PanZoom_7_zoomin_innerImage]").attr("src","/img/zoomin.png");
    $("img[id=OpenLayers.Control.PanZoom_7_zoomout_innerImage]").attr("src","/img/zoomout.png");
}
$(document).ready(function() {
    $("#map").mapify(${coords[0]}, ${coords[1]}, function(lon, lat) {
        $("#coords-long").text(lon.toFixed(6));
        $("#coords-lat").text(lat.toFixed(6));

        if (!$("#map").hasClass("span-24"))
            resetFullMap();
        var content = "<h2>Bookmark this place?</h2><div><button style='margin-right:12px' id='prompt-yes'>Yes</button> <button id='prompt-no'>No</button></div>";
        $.promptDialog(content);
        if (!bound) {
            bindPromptHandlers();
            bound = true;
        }
    });
    fixMapControls();
    $("#tmp-coords").clone().attr("id", "loc-coords").prependTo("#map").css({
        "font-family" : "Arial, sans-serif",
        "font-size" : "11px",
        color : "black",
        position : "absolute",
        bottom : "0",
        right : "3px",
        "z-index" : "9999"
    });
    $("#tmp-coords").remove();
    $.reverseGeocode(${coords[0]}, ${coords[1]}, function(placemarks) {
        $("#map").prepend("<div class='title'><h2>" + placemarks[0].address + "</h2></div>");
    });
    $("#cancel-bookmark").click(resetFullMap);
    $("#save-bookmark > form").submit(function() {
        $("input[name=longitude]").val($("#coords-long").text());
        $("input[name=latitude]").val($("#coords-lat").text());
        if ($("#bitly_login").val() != $.cookie("bitly_login"))
            $.cookie("bitly_login", $("#bitly_login").val());
        if ($("#bitly_apikey").val() != $.cookie("bitly_apikey"))
            $.cookie("bitly_apikey", $("#bitly_apikey").val());
        return true;
    });
    $("#toggle-bitly").click(function() {
        $("#bitly-settings").toggleClass("hidden");
    });
});
//]]>
</script>
<script type="text/javascript" src="/js/jquery.cookie.js"></script>
</%def>
