## -*- coding: utf-8 -*-
<%inherit file="/index.html" />
<%def name="html()"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xml:lang="en"></%def>
<%def name="keywords()"><meta name="keywords" content="my wahi, kou wahi" /></%def>
<%def name="description()"><meta name="description" content="${place.name} bookmarked in my wahi." /></%def>
<%def name="meta()">
<meta name="ICBM" content="${coords[1]}, ${coords[0]}" />
<meta name="geo.position" content="${coords[1]};${coords[0]}" />
<meta name="geo.placename" content="${place.address}" />
</%def>
<%def name="title()">my wahi | ${place.name}</%def>
<div id="static-img" class="span-12">
  <div class="title"><h2>${place.name}</h2></div>
  <img alt="${place.name} on the map" src="http://maps.google.com/staticmap?key=ABQIAAAAtO1hv_X8SmlsRtfq49PGKxT3sD9sIctxrza221FRMo2Z44skZRQ4f1MSp3hry72oNc6rOHDBZidScA&center=${coords[1]},${coords[0]}&size=470x400&zoom=14&markers=${coords[1]},${coords[0]}" />
</div>
<div class="span-12 last">
  <h3>${place.address}</h3>
% if place.description:
  <p>${place.description}</p>
% endif
  <div id="place-abusive">
    <a id="abusive" title="Flag this page as spam or abusive" href="#">Offensive?</a>
  </div>
  <div id="place-meta">
    <div id="place-tags">
      <strong>Tags:</strong> <span>${', '.join(tags)}</span>
    </div>
    <div id="add-place-tags">Add tags</div>
    <form class="hidden" id="place-tags-form" action="#">
      <input class="text" type="text" name="tags" id="tags" /><button type="submit">Add</button>
    </form>
    <strong>Coordinates:</strong>
    (<span id="coords-long" rel="geo:long">${coords[0]}</span>, 
    <span id="coords-lat" rel="geo:lat">${coords[1]}</span>)<br/>
    <strong>Geohash:</strong> <span id="geohash">${place.geohash}</span><br/>
% if place.bitly_hash is not None:
    <strong>bit.ly hash:</strong> <a href="http://bit.ly/info/${place.bitly_hash}" rel="nofollow">${place.bitly_hash}</a><br/>
% endif
</div>
<%def name="javascripts()">
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    $("a#abusive").click(function() {
        $.post("/place/abusive/${place.id}");
        return false;
    });
    $("#add-place-tags").click(function() {
        $("#place-tags-form").toggleClass("hidden");
    });
    $("#place-tags-form").submit(function() {
        var curtags = $("#place-tags > span").text();
        var newtags = []

        if (!$("#place-tags-form").hasClass("hidden"))
            $("#place-tags-form").addClass("hidden");

        $("#tags").val().split(",").forEach(function(tag) {
            tag = $.trim(tag);
            newtags.push("<a href='" + encodeURIComponent(tag) + "'>" + tag + "</a>");
        });
        newtags = newtags.join(", ");

        if (curtags == "")
            $("#place-tags > span").html(newtags);
        else
            $("#place-tags > span").append(", " + newtags);
        $.post("/place/tags/${place.id}", {tags: $("#tags").val()});
        $("#tags").val("");
        return false;
    });
});
//]]>
</script>
</%def>
