## -*- coding: utf-8 -*-
<%inherit file="/index.html" />
<%def name="html()">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML+RDFa 1.0//EN"
    "http://www.w3.org/MarkUp/DTD/xhtml-rdfa-1.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:geo="http://www.w3.org/2003/01/geo/wgs84_pos#" xml:lang="en">
</%def>
<%def name="meta()">
<meta name="ICBM" content="${coords[1]}, ${coords[0]}" />
<meta name="geo.position" content="${coords[1]};${coords[0]}" />
</%def>
<div id="static-img" class="span-12">
  <div class="title"><h2>${place.name}</h2></div>
  <img alt="${place.name} on the map" src="http://maps.google.com/staticmap?key=ABQIAAAAnnh3vADukoSiGDyFNhOAihT2yXp_ZAY8_ufC3CFXhHIE1NvwkxRFihSNGE3faXJghnYraM8YXUr8aQ&center=${coords[1]},${coords[0]}&size=470x400&zoom=14&markers=${coords[1]},${coords[0]}" />
</div>
<div class="span-12 last">
  <h3>${place.address}</h3>
% if place.description:
  <p>${place.description}</p>
% endif
  <div id="tmp-coords">
    Coordinates:
    (<span id="coords-long" rel="geo:long">${coords[0]}</span>, 
    <span id="coords-lat" rel="geo:lat">${coords[1]}</span>)
  </div>
  <p>bit.ly: <a href="http://bit.ly/${place.bitly_hash}" rel="nofollow">http://bit.ly/${place.bitly_hash}</a></p>
</div>
