## -*- coding: utf-8 -*-
<%def name="html()">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
</%def>
${self.html()}
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta name="author" content="Jacinto Shy, Jr." />
<meta name="copyright" content="&copy; 2009 Jacinto Shy, Jr." />
<%def name="keywords()">
<meta name="keywords" content="POI, point of interest, geoweb, geolocation, location" />
</%def>
<%def name="description()">
<meta name="description" content="Save your points of interest." />
</%def>
<%def name="meta()"></%def>
${self.keywords()}
${self.description()}
${self.meta()}
<link rel="stylesheet" type="text/css" href="/css/blueprint/screen.css" media="screen, projection" />
<link rel="stylesheet" type="text/css" href="/css/blueprint/print.css" media="print" />
<%def name="stylesheets()"></%def>
${self.stylesheets()}
<!--[if IE]>
<link rel="stylesheet" type="text/css" href="/css/blueprint/ie.css" media="screen, projection" />
<![endif]-->
<link rel="stylesheet" type="text/css" href="/css/main.css" media="screen, projection" />
<link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />
<%def name="title()">my wahi</%def>
<title>${self.title()}</title>
</head>
<body>
<div id="container">
  <div id="hd" class="span-24 last">
    <div class="span-12">
      <a href="/"><img alt="My Wahi" src="/img/logo.png" /></a>
    </div>
    <div id="hd-2" class="span-12 last">
      <img id="loading-img" class="hidden" alt="loading" src="/img/loading.gif" />
      <form action="#" id="location-search">
	<input type="text" class="text" /><button type="submit">Search</button>
      </form>
      <div id="location-results"></div>
    </div>
  </div><!-- /hd -->
  <div id="bd" class="span-24 last">
${self.body()}
  </div><!-- /bd -->
  <div id="ft" class="span-24 last">
    <div class="span-12">
      &copy; 2009 Jacinto Shy, Jr.
    </div>
    <div class="span-12 last">
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/privacy">Privacy</a></li>
      </ul>
    </div>
  </div><!-- /ft -->
</div>
</body>
<script type="text/javascript" src="http://www.google.com/jsapi?key=ABQIAAAAtO1hv_X8SmlsRtfq49PGKxT3sD9sIctxrza221FRMo2Z44skZRQ4f1MSp3hry72oNc6rOHDBZidScA"></script>
<script type="text/javascript">
//<![CDATA[
google.load("jquery", "1");
//]]>
</script>
<script type="text/javascript" src="/js/geohash.js"></script>
<script type="text/javascript" src="/js/wahi.js"></script>
<%def name="javascripts()"></%def>
${self.javascripts()}
<script type="text/javascript">
//<![CDATA[
$(document).ready(function() {
    var searchText = "Where on earth is it?";

    $("#location-search").submit(function() {
        $("#loading-img").toggleClass("hidden");
        if ($("#location-results").css("display") != "none")
            $("#location-results").css("display", "none").empty();
        $("#location-search > input.text").searchForLoc(function(locs) {
            $("#location-results").append(locs.length + " result(s) found<br/>");
            locs.forEach(function(loc) {
                $("#location-results").append("<a class='search-location' href='#'>" + loc.address + "</a><br/>");
                $("#location-results a:last").data("coords", loc.coords);
            });
            $("#location-results").css("display", "block");
            $("#loading-img").toggleClass("hidden");
        });
        return false;
    });
    $("#location-search > input.text").focus(function() {
        if ($(this).val() == searchText)
            $(this).val("");
    }).blur(function() {
        if ($(this).val() == "")
            $(this).val(searchText);
    }).val(searchText);
    $("a.search-location").live("click", function() {
        var coords = $(this).data("coords");
        var hash = encodeGeoHash(coords[1], coords[0]);
        window.location = "/loc/" + hash;
        return false;
    });
});
//]]>
</script>
</html>
